.image {
    background-image: url('/main mall.jpg');
    background-size: cover;
}
.single {
    padding: 2px 16px;
    background: #fff;
    display: block;
    margin: 20px 10px;
    border-left: 8px solid #fff;
}
.single:hover {
    border-left: 8px solid #4979ff;
}
.btn {
    display: block;
    width: 150px;
    padding: 8px 0;
    margin: 20px auto;
    background: #4979ff;
    border-radius: 4px;
    color: white;
    text-align: center;
  }